<h1>Add new item to your todo list</p>

<%= form_for @todo, :url => todo_index_path(@todo) do |f| %>
    <%= f.label :name %>: <%= f.text_field :name, {:class => "text-fields"}%>
    <%= f.hidden_field :done, :value => false %>
    <%= f.submit "Add to todo list", {:class => "btn btn-lg btn-primary"} %>

<% end %>
