<!DOCTYPE html>
<html>
<head>
  <title>Todo Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
   <div class="center jumbotron">
<% if user_signed_in? %>
   You are currently signed in as <%= current_user.email %>, not you?
   <%= link_to "Sign out", destroy_user_session_path, {:method => :delete, :class => "btn btn-sm btn-primary"}  %>

<% else %>
   <h1> Todo Application </h1>
   <%= link_to "Sign up", new_user_registration_path, {:class => "btn-lg btn-primary"} %>  <%= link_to "Sign in", new_user_session_path, {:class => "btn-lg btn-primary"}%>
   <h4> Created by James Lundgren and Victor Marrufo</h4>

<% end %>

</div>

<% flash.each do |name, message| %>
   <%= content_tag :div, message, :id => "flash_#{name}" %>
<% end %>

<%= yield %>
</div>
</body>
</html>
